.nav {
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2%;

  ul {
    display: flex;
    flex-direction: row;
    gap: 55%;
    margin-right: 5%;

    a {
      text-transform: uppercase;

      &:hover {
        padding: 20%;
        background-color: rgb(220,26,40);
        color: black;
        border-radius: 8px;
      }
    }
  }

  img {
    width: 200px;
    height: 80px;
  }
}

button{

  padding: 0.5% 1%;
  background-color: rgb(220,26,40);
  border-radius: 8%;
  
}
