.nav{
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2%;

    img{
        width: 200px;
        height: 80px
        
    };

}